Repository SAGE-3/next, pull requests merged in 2024-08, with the labels that each got.

#996 [Support] Feedback modal to submit bugs and feedback
  deployment/configurations/node/sage3-prod.hjson
  webstack/apps/homebase/src/api/routers/custom/config.ts
  webstack/libs/frontend/src/lib/ui/components/general/MainButton.tsx
  webstack/libs/frontend/src/lib/ui/components/modals/FeedbackModal.tsx
  webstack/libs/frontend/src/lib/ui/components/modals/index.ts
  webstack/libs/shared/src/lib/types/server/serverconfig.ts
  webstack/sage3-dev.hjson
  webstack/sage3-prod.hjson
Labels: enhancement, frontend, backend

#1001 [Tags] Fix issues with the tag system
  webstack/apps/webapp/src/app/pages/board/layers/ui/UILayer.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/AppToolbar.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/Panels/Navigation/NavigationPanel.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/TagsDisplay.tsx
  webstack/libs/applications/src/lib/apps/Stickie/Stickie.tsx
  webstack/libs/frontend/src/lib/providers/useUserSettings.tsx
  webstack/libs/frontend/src/lib/ui/components/modals/EditVisibilityModal.tsx
Labels: enhancement

#1015 [Rooms] Remove a member from a room
  webstack/apps/homebase/src/api/collections/roommembers.ts
  webstack/apps/webapp/src/app/pages/board/Board.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/Panels/Annotations/AnnotationsPanel.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/Panels/Controller/Controller.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/Panels/Panel.tsx
  webstack/apps/webapp/src/app/pages/home/Home.tsx
  webstack/apps/webapp/src/app/pages/home/components/BoardCard.tsx
  webstack/apps/webapp/src/app/pages/home/components/BoardRow.tsx
  webstack/apps/webapp/src/app/pages/home/components/UserRow.tsx
  webstack/libs/frontend/src/lib/stores/panel.ts
  webstack/libs/frontend/src/lib/stores/room.ts
Labels: frontend, backend
