Repository SAGE-3/next, pull requests merged in 2024-10, with the labels that each got.

#1054 [Timer] Fix desync issues
  webstack/libs/applications/src/lib/apps/Timer/Timer.tsx
  webstack/libs/applications/src/lib/apps/Timer/index.ts
Labels: enhancement

#1067 [Board] Spooky Ghost Board Fix 👻👻
  webstack/apps/webapp/src/app/app.tsx
  webstack/libs/frontend/src/lib/providers/useYjs.tsx
Labels: bug, frontend

#1070 [UILayer] Screenshare Menu
  webstack/apps/webapp/src/app/pages/board/layers/ui/UILayer.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/ScreenshareMenu.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/index.ts
  webstack/libs/frontend/src/lib/ui/components/context-menu/context-menu.tsx
  webstack/libs/frontend/src/lib/ui/components/general/MainButton.tsx
Labels: enhancement, frontend
