Repository SAGE-3/next, pull requests merged in 2024-09, with the labels that each got.

#1025 [Viewport] Bounce when zooming when wall
  webstack/apps/webapp/src/app/pages/board/layers/background/components/Presence/PresenceComponent.tsx
  webstack/apps/webapp/src/app/pages/board/layers/background/components/Presence/Viewports.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/PresenceFollow.tsx
  webstack/libs/shared/src/lib/types/schemas/presence.ts
Labels: bug, frontend

#1022 [Plugin] Restrict plugins to specific rooms
  webstack/apps/homebase/src/api/collections/plugins.ts
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/Panels/Plugins/PluginsPanels.tsx
  webstack/apps/webapp/src/app/pages/home/Home.tsx
  webstack/apps/webapp/src/app/pages/home/components/PluginsList.tsx
  webstack/apps/webapp/src/app/pages/home/components/RoomSearch.tsx
  webstack/apps/webapp/src/app/pages/home/components/index.ts
  webstack/libs/frontend/src/lib/stores/plugin.ts
  webstack/libs/frontend/src/lib/ui/components/general/MainButton.tsx
  webstack/libs/frontend/src/lib/ui/components/modals/HelpModal.tsx
  webstack/libs/frontend/src/lib/ui/components/modals/PluginModal.tsx
  webstack/libs/frontend/src/lib/ui/components/modals/PluginUploadModal.tsx
  webstack/libs/frontend/src/lib/ui/components/modals/index.ts
  webstack/libs/shared/src/lib/types/schemas/plugin.ts
Labels: frontend, backend

#1027 [App] Timer
  webstack/libs/applications/src/lib/apps.json
  webstack/libs/applications/src/lib/apps.ts
  webstack/libs/applications/src/lib/apps/Timer/Timer.tsx
  webstack/libs/applications/src/lib/apps/Timer/index.ts
  webstack/libs/applications/src/lib/apps/Timer/styling.css
  webstack/libs/applications/src/lib/initialValues.ts
  webstack/libs/applications/src/lib/types.ts
Labels: enhancement

#1006 New UI Implementation
  webstack/apps/webapp/src/app/app.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/UILayer.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/BoardTitle.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/Panels/Panel.tsx
  webstack/apps/webapp/src/app/pages/home/Home.tsx
  webstack/apps/webapp/src/app/pages/home/components/BoardCard.tsx
  webstack/apps/webapp/src/app/pages/home/components/BoardPreview.tsx
  webstack/apps/webapp/src/app/pages/home/components/BoardRow.tsx
  webstack/apps/webapp/src/app/pages/home/components/BoardSidebarRow.tsx
  webstack/apps/webapp/src/app/pages/home/components/MembersList.tsx
  webstack/apps/webapp/src/app/pages/home/components/RoomSearch.tsx
  webstack/apps/webapp/src/app/pages/home/components/UserPresenceIcons.tsx
  webstack/apps/webapp/src/app/pages/home/components/quick-access/QuickAccessPage.tsx
  webstack/apps/webapp/src/app/pages/home/components/search/SearchRow.tsx
  webstack/apps/webapp/src/app/pages/login/Login.tsx
  webstack/libs/frontend/src/lib/hooks/usePressureObserver.ts
  webstack/libs/frontend/src/lib/hooks/useRouteNav.tsx
  webstack/libs/frontend/src/lib/ui/components/general/Clock.tsx
  webstack/libs/frontend/src/lib/ui/components/general/MainButton.tsx
  webstack/libs/shared/src/lib/utils/index.ts
  webstack/libs/shared/src/lib/utils/platform-checker.ts
Labels: frontend

#1018 [Controls] New Control Scheme Supporting Trackpad, TouchScreen, and Mouse
  webstack/apps/webapp/src/app/pages/board/layers/background/BackgroundLayer.tsx
  webstack/apps/webapp/src/app/pages/board/layers/background/components/Apps.tsx
  webstack/apps/webapp/src/app/pages/board/layers/background/components/Background.tsx
  webstack/apps/webapp/src/app/pages/board/layers/background/components/Lasso.tsx
  webstack/apps/webapp/src/app/pages/board/layers/background/components/RndSafety.tsx
  webstack/apps/webapp/src/app/pages/board/layers/background/components/Whiteboard/Whiteboard.tsx
  webstack/apps/webapp/src/app/pages/board/layers/background/components/index.ts
  webstack/apps/webapp/src/app/pages/board/layers/ui/UILayer.tsx
  webstack/apps/webapp/src/index.html
  webstack/libs/applications/src/lib/components/AppWindow/AppWindow.tsx
  webstack/libs/frontend/src/lib/providers/useUserSettings.tsx
  webstack/libs/frontend/src/lib/stores/ui.ts
  webstack/libs/frontend/src/lib/ui/components/context-menu/context-menu.tsx
  webstack/libs/frontend/src/lib/ui/components/paste-handler/paste-handler.tsx
Labels: enhancement, frontend

#1037 [Controls] New Interaction Scheme Fixes
  webstack/apps/webapp/src/app/pages/board/layers/background/components/Background.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/UILayer.tsx
  webstack/apps/webapp/src/app/pages/board/layers/ui/components/Panels/Panel.tsx
Labels: bug
